# Virtual environment
.venv/

# Python cache and bytecode
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache/

# Docker
*.env
.env.*
docker-compose.override.yml

# Editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
